In [19]:
import pandas as pd
import wbgapi as wb


def get_data(indicator, label):
    inflation = wb.data.fetch(
        indicator, wb.region.members("ECS"), time=range(2000, 2024)
    )
    # inflation.to_csv(f"{label}.csv")
    return list(inflation)


inflation = get_data("FP.CPI.TOTL.ZG", "inflation")
imports = get_data("NE.IMP.GNFS.ZS", "imports")
consumption = get_data("NE.CON.TOTL.ZS", "consumption")

results = []
for cellValue in consumption:
    infl = next(
        item
        for item in inflation
        if item["economy"] == cellValue["economy"] and item["time"] == cellValue["time"]
    )
    imp = next(
        item
        for item in consumption
        if item["economy"] == cellValue["economy"] and item["time"] == cellValue["time"]
    )
    if cellValue is not None and infl["value"] is not None and imp["value"] is not None:
        results.append(
            {
                "value": cellValue["value"] * (1 - infl["value"] / 100) / imp["value"],
                "economy": cellValue["economy"],
                "time": cellValue["time"],
            }
        )

pd.DataFrame(results)

         value economy    time
0     0.933497     AZE  YR2021
1     0.972402     AZE  YR2020
2     0.973894     AZE  YR2019
3     0.977315     AZE  YR2018
4     0.870641     AZE  YR2017
...        ...     ...     ...
1016  0.976346     PRT  YR2004
1017  0.967810     PRT  YR2003
1018  0.963997     PRT  YR2002
1019  0.956301     PRT  YR2001
1020  0.971470     PRT  YR2000

[1021 rows x 3 columns]